<p style="color: green"><%= notice %></p>

<%= render @stundent %>

<div>
  <%= link_to "Edit this stundent", edit_stundent_path(@stundent) %> |
  <%= link_to "Back to stundents", stundents_path %>

  <%= button_to "Destroy this stundent", @stundent, method: :delete %>
</div>
